* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style: none;
  direction: rtl;
  font-family: "yekan";
}

@font-face {
  font-family: "yekan";
  src: url("./fonts/Yekan/Yekan.ttf") format("ttf"),
    url("./fonts/Yekan/Yekan.eot") format("eot"),
    url("./fonts/Yekan/Yekan.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "yekan";
  overflow-x: hidden;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.myswiper {
  text-align: center;
  width: 100%;
}

.myswiper .myswiper_slide {
  width: 100%;
  box-shadow: none;
}

.myswiper .myswiper_slide .swipholders_container_holder_card {
  width: 100%;
}

.myswiper .myswiper_slide .swipholders_container_holder_card img {
  width: 100%;
  object-fit: cover;
}

.thumb {
  width: 100%;
  margin: 30px auto 0;
  position: relative;
  /* text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.thumbswiper {
  /* text-align: center; */
  box-shadow: none;
}

.thumb .SwipHolders_name {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.thumb .SwipHolders_job {
  text-align: center;
  font-size: 22px;
}
.thumb .SwipHolders_talent {
  text-align: center;
  font-size: 16px;
  color: #787878;
}

.thumb .SwipHolders_license {
  text-align: center;
  font-size: 14px;
  color: #787878;
}
.thumb ul {
  width: fit-content;
  text-align: center;
  margin: 10px auto 0;
}

.thumb ul li {
  font-size: 14px;
}
.thumb ul img {
  width: 8px;
  margin-left: 5px;
}
.thumb button {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #40ad00;
  border-radius: 7px;
  background-color: #fff;
  cursor: pointer;
  z-index: 5;
  outline: none;
  transition: all ease 0.3s;
  position: absolute;
}

.thumb .thumb_btn_next {
  left: 20%;
  top: 50px;
}
.thumb .thumb_btn_prev {
  right: 20%;
  top: 50px;
}

.thumb .thumb_btn_next .next_icon {
  color: #40ad00;
}
.thumb .thumb_btn_prev .prev_icon {
  color: #40ad00;
}

.thumb .thumb_btn_next:hover {
  background-color: #40ad00;
}

.thumb .thumb_btn_next:hover .next_icon {
  color: #fff;
}

.thumb .thumb_btn_prev:hover {
  background-color: #40ad00;
}

.thumb .thumb_btn_prev:hover .prev_icon {
  color: #fff;
}


@media screen and (max-width: 680px){
  .thumb .SwipHolders_name {
    font-size: 22px;
  }
  .thumb .thumb_btn_next {
    left: 5%;
    top: 50px;
  }
  .thumb .thumb_btn_prev {
    right: 5%;
    top: 50px;
  }
}

@media screen and (max-width: 450px){
  .thumb .SwipHolders_name {
    font-size: 22px;
  }
  .thumb .SwipHolders_job {
    font-size: 18px;
    text-align: center;
  }
  .thumb .SwipHolders_talent {
    text-align: center;
    font-size: 14px;
    color: #787878;
  }
  .thumb .thumb_btn_next {
    display: none;
  }
  .thumb .thumb_btn_prev {
    display: none;
  }
}

@media screen and (max-width: 350px){

  .thumb ul li {
    font-size: 13px;
  }
  .thumb ul img {
    width: 7px;
    margin-left: 5px;
  }

}


/* ---------------------------   Accordion ---------------------- */

.the_accorion_body {
  width: 100%;
  max-height: 0;
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  overflow: hidden;
}

.the_accorion_body.show_accordion_body {
  width: 100%;
  height: auto;
  max-height: 9999px;
  box-sizing: border-box;
  transition: 0.5s cubic-bezier(1, 0, 1, 0);
}

.the_accorion_body.show_accordion_body div {
  padding-bottom: 20px;
}

.the_accorion_body img {
  width: 7px;
  margin: 0px 0 0px 10px;
}

.the_accorion_body p {
  padding-top: 20px;
  margin: 0 0 10px;
}

@media screen and (max-width: 500px) {
    .the_accorion_body
    p {
    font-size: 14px;
  }
    .the_accorion_body
    ul
    li {
    font-size: 14px;
  }
}

/*  ---------------------  bootstrap ------------------ */

.accordion {
  position: relative;
}

.accordion-button {
  position: absolute;
  left: 0;
}
