.about_container {
  padding: 0;
  margin: 70px 0 0;
  width: 100%;
  scroll-behavior: smooth;
}

.about_container .about_head {
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 20px 0;
  background: url(../images/header-banner.86ce0473.png) no-repeat;
}

.about_container .about_head .about_head_para {
  width: 90%;
  margin: 0 auto;
}

.about_container .about_head .about_head_para h3 {
  font-size: 34px;
  color: #fff;
  width: 100%;
  text-align: right;
  margin-top: 20px;
}

.about_container .about_head .about_head_para p {
  font-size: 16px;
  color: #fff;
  width: 70%;
  text-align: right;
  margin-bottom: 10px;
}

.about_container .about_head .about_head_img_holder {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  justify-content: end;
}

.about_container .about_head .about_head_img_holder div {
  width: fit-content;
}

.about_container .about_head .about_head_img_holder div img {
  border-radius: 20px;
}

.about_container .about_direction_mabna {
  width: 95%;
  margin: 60px auto;
  text-align: center;
}

.about_container .about_direction_mabna h3 {
  color: #000;
  font-size: 36px;
  margin-bottom: 25px;
}

.about_container .about_direction_mabna p {
  color: #000;
}

.about_container .about_direction_mabna .strong {
  margin: 30px 0 40px;
}

.about_container .about_direction_mabna strong {
  margin: 0 auto;
  color: #000;
}

.about_container .about_direction_mabna .about_direction_mabna_img_holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_container
  .about_direction_mabna
  .about_direction_mabna_img_holder
  .child1 {
  width: 100%;
  object-fit: cover;
}
.about_container
  .about_direction_mabna
  .about_direction_mabna_img_holder
  .child2 {
  display: none;
  object-fit: cover;
}
.about_container
  .about_direction_mabna
  .about_direction_mabna_img_holder
  .child3 {
  display: none;
  object-fit: cover;
}
.about_container
  .about_direction_mabna
  .about_direction_mabna_img_holder
  .child4 {
  display: none;
  object-fit: cover;
}

.top_btn {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #40ad00;
  border-radius: 7px;
  background-color: #fff;
  position: fixed;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
  z-index: 99;
}

@keyframes example1 {
  from {
    bottom: 15px;
  }
  to {
    bottom: 30px;
  }
}

@keyframes example2 {
  from {
    bottom: 30px;
  }
  to {
    bottom: 15px;
  }
}

.top_btn img {
  width: 12px;
}

.about_container .about_mabna_value {
  width: 100%;
  text-align: center;
}

.about_container .about_mabna_value h3 {
  font-size: 34px;
  margin-bottom: 30px;
}

.about_container .about_mabna_value .about_mabna_value_holder {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about_container
  .about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_img {
  height: fit-content;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: start;
  gap: 5px;
}

.about_container
  .about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_img
  img {
  height: fit-content;
  object-fit: cover;
  border-radius: 15px;
}
.about_container
  .about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_img
  .img_value1 {
  width: 230px;
}
.about_container
  .about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_img
  .img_value2 {
  width: 160px;
}
.about_container
  .about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_img
  .img_value3 {
  width: 310px;
}

.about_container
  .about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_img_responsive {
  display: none;
}

.about_container
  .about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_img_responsive
  div {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 50%;
}

.about_container
  .about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_img_responsive
  div
  img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.about_container
  .about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_img_responsive
  .img_value_responsive {
  width: 49%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.about_container
  .about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_para {
  width: 60%;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-wrap: wrap;
  gap: 15px;
}

.about_container
  .about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_para
  div {
  border: 1px solid #bcbcbc;
  border-radius: 15px;
  height: fit-content;
  padding: 10px 15px;
}

.about_container
  .about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_para
  div
  h4 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.about_container
  .about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_para
  div
  p {
  font-size: 14px;
  text-align: justify;
}

.about_container
  .about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_para
  .responsibility {
  width: 55%;
}

.about_container
  .about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_para
  .learning {
  width: 27%;
}

.about_container
  .about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_para
  .discipline {
  width: 27%;
}

.about_container
  .about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_para
  .cooperation {
  width: 55%;
}

.about_container
  .about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_para
  .three_last_child_value_holder {
  width: 95%;
  margin-left: 0;
  display: flex;
  justify-content: end;
  height: fit-content;
  padding: 0;
  border: none;
  gap: 15px;
  padding-left: 10px;
}

.about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_para
  .honesty {
  width: 17%;
}
.about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_para
  .correct {
  width: 30%;
}
.about_mabna_value
  .about_mabna_value_holder
  .about_mabna_value_holder_para
  .simplicity {
  width: 31%;
}

.about_mabna_days {
  width: 100%;
  padding: 60px 0 150px;
  text-align: center;
  background-color: #00203b;
  position: relative;
  margin: 100px 0 200px;
}

.about_mabna_days h3 {
  font-size: 36px;
  color: #fff;
}

.about_mabna_days .about_mabna_days_card_holder {
  display: flex;
  justify-content: center;
  position: absolute;
  gap: 15px;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -35%;
}

.about_mabna_days .about_mabna_days_card_holder div {
  padding: 80px 0;
  border: 1px solid #bcbcbc;
  border-radius: 15px;
}

.about_mabna_days .about_mabna_days_card_holder div strong {
  font-size: 45px;
  color: #00b753;
  line-height: 0;
}

.about_mabna_days .about_mabna_days_card_holder div p {
  font-size: 20px;
  margin-top: 30px;
  line-height: 0;
}

.about_mabna_days .about_mabna_days_card_holder div:nth-child(1) {
  background: #fff;
  width: 33%;
}
.about_mabna_days .about_mabna_days_card_holder div:nth-child(2) {
  background: #fff;
  width: 29%;
}
.about_mabna_days .about_mabna_days_card_holder div:nth-child(3) {
  background: #fff;
  width: 33%;
}

/*       responsive    */

@media screen and (max-width: 1035px) {
  .about_container .about_head .about_head_para h3 {
    text-align: center;
  }

  .about_container .about_head .about_head_para p {
    width: 100%;
    text-align: center;
  }

  .about_container .about_head .about_head_img_holder {
    justify-content: center;
  }

  .about_container
    .about_direction_mabna
    .about_direction_mabna_img_holder
    .child1 {
    display: none;
  }
  .about_container
    .about_direction_mabna
    .about_direction_mabna_img_holder
    .child2 {
    width: 650px;
    height: 1000px;
    display: block;
    margin: 0 auto;
  }

  .about_container .about_mabna_value .about_mabna_value_holder {
    flex-direction: column-reverse;
  }

  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_img {
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
  }

  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_img
    img:nth-child(1) {
    width: 35%;
  }
  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_img
    img:nth-child(2) {
    width: 20%;
  }
  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_img
    img:nth-child(3) {
    width: 40%;
  }

  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
  }

  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    .responsibility {
    width: 60%;
  }

  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    .learning {
    width: 27%;
  }

  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    .discipline {
    width: 27%;
  }

  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    .cooperation {
    width: 60%;
  }
}

@media screen and (max-width: 1025px) {
  .about_container {
    margin: 60px 0 0;
  }
}

@media screen and (max-width: 790px) {
  .about_container .about_head {
    padding: 30px 0 90px;
    margin-bottom: 120px;
    background: url(https://mabnadp.com/_next/static/media/header-banner-md.6356f3da.jpg)
      no-repeat;
  }

  .about_container .about_head .about_head_para h3 {
    font-size: 27px;
  }

  .about_container .about_head .about_head_para p {
    font-size: 14px;
    line-height: 2;
  }

  .about_container .about_head .about_head_img_holder {
    position: absolute;
    left: 0;
    right: 0;
  }

  .about_container .about_head .about_head_img_holder div:nth-child(1) img {
    width: 250px;
    height: 160px;
  }
  .about_container .about_head .about_head_img_holder div:nth-child(2) img {
    width: 300px;
    height: 160px;
  }

  .about_container .about_direction_mabna h3 {
    font-size: 27px;
    margin-bottom: 20px;
  }

  .about_container .about_direction_mabna p {
    font-size: 14px;
    line-height: 2.5;
  }

  .about_container .about_direction_mabna .strong {
    margin: 20px 0 30px;
    font-size: 15px;
  }

  .about_container
    .about_direction_mabna
    .about_direction_mabna_img_holder
    .child2 {
    display: none;
  }

  .about_container
    .about_direction_mabna
    .about_direction_mabna_img_holder
    .child3 {
    width: 450px;
    height: 1000px;
    display: block;
    margin: 0 auto;
  }

  .about_mabna_days {
    padding: 20px 0;
  }

  .about_mabna_days h3 {
    margin-bottom: 30px;
  }

  .about_mabna_days .about_mabna_days_card_holder {
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 0;
    transform: none;
    bottom: 0;
    margin: 0 auto;
  }

  .about_mabna_days .about_mabna_days_card_holder div {
    padding: 70px 0;
  }

  .about_mabna_days .about_mabna_days_card_holder div strong {
    font-size: 35px;
  }

  .about_mabna_days .about_mabna_days_card_holder div p {
    font-size: 18px;
  }

  .about_mabna_days .about_mabna_days_card_holder div:nth-child(1) {
    width: 100%;
  }
  .about_mabna_days .about_mabna_days_card_holder div:nth-child(2) {
    width: 100%;
  }
  .about_mabna_days .about_mabna_days_card_holder div:nth-child(3) {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    .responsibility {
    width: 57%;
  }

  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    .learning {
    width: 27%;
  }

  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    .discipline {
    width: 27%;
  }

  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    .cooperation {
    width: 57%;
  }
}

@media screen and (max-width: 640px) {
  .about_container .about_head {
    padding: 30px 0 150px;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 590px) {
  .about_container .about_head {
    padding: 30px 0 50px;
    margin-bottom: 90px;
    background: url(https://mabnadp.com/_next/static/media/header-banner-sm.3f682a68.jpg)
      no-repeat;
    background-size: cover;
  }

  .about_container .about_head .about_head_img_holder div:nth-child(1) img {
    width: 145px;
    height: 90px;
  }

  .about_container .about_head .about_head_img_holder div:nth-child(2) img {
    width: 175px;
    height: 90px;
  }

  .about_container
    .about_direction_mabna
    .about_direction_mabna_img_holder
    .child3 {
    display: none;
  }
  .about_container
    .about_direction_mabna
    .about_direction_mabna_img_holder
    .child4 {
    width: 330px;
    height: 1000px;
    display: block;
    margin: 0 auto;
  }

  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    gap: 5px;
  }

  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    .responsibility {
    width: 42%;
  }

  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    .learning {
    width: 42%;
  }

  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    .discipline {
    width: 100%;
  }

  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    .cooperation {
    width: 100%;
  }

  .about_container .about_mabna_value h3 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    div
    h4 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
  }

  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    .three_last_child_value_holder {
    width: 100%;
    gap: 5px;
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    .honesty {
    width: 42%;
  }
  .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    .correct {
    width: 42%;
  }
  .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    .simplicity {
    width: 100%;
  }
  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_img_responsive {
    display: flex;
    gap: 5px;
    justify-content: space-between;
  }
  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_img {
    display: none;
  }
}

@media screen and (max-width: 470px) {
  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    .responsibility {
    width: 100%;
  }

  .about_container
    .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    .learning {
    width: 100%;
  }
  .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    .honesty {
    width: 100%;
  }
  .about_mabna_value
    .about_mabna_value_holder
    .about_mabna_value_holder_para
    .correct {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .about_container .about_direction_mabna h3 {
    font-size: 22px;
  }
}

@media screen and (max-width: 350px) {
  .about_container
    .about_direction_mabna
    .about_direction_mabna_img_holder
    .child4 {
    width: 300px;
    height: 1000px;
    object-fit: cover;
  }

  .about_container .about_head .about_head_img_holder {
    width: 100%;
    gap: 5px;
    justify-content: center;
  }
  .about_container .about_head .about_head_img_holder div:nth-child(1) img {
    width: 135px;
    height: 90px;
    object-fit: cover;
  }

  .about_container .about_head .about_head_img_holder div:nth-child(2) img {
    width: 165px;
    height: 90px;
    object-fit: cover;
  }
}
