* {
  margin: 0;
  padding: 0;
}

footer {
  width: 100%;
  background-color: #00203b;
  padding: 20px 0;
}

footer .head_footer {
  width: 95%;
  margin: 0 auto;
}

footer .footer_body {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0 30px;
  border-bottom: 1px solid #fff;
}

footer .footer_body .lists_footer {
  display: flex;
  gap: 100px;
}

footer .footer_body .lists_footer .products_footer h4 {
  font-size: 17px;
  color: #fff;
  margin-bottom: 20px;
}

footer .footer_body .lists_footer .products_footer ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

footer .footer_body .lists_footer .products_footer ul li a {
  font-size: 13px;
  color: #fff;
  transition: all ease 0.3s;
}

footer .footer_body .lists_footer .products_footer ul li a:hover {
  color: #00b24a;
}
footer .footer_body .lists_footer .mabna_footer h4 {
  font-size: 17px;
  color: #fff;
  margin-bottom: 20px;
}

footer .footer_body .lists_footer .mabna_footer ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

footer .footer_body .lists_footer .mabna_footer ul li a {
  font-size: 13px;
  color: #fff;
  transition: all ease 0.3s;
}

footer .footer_body .lists_footer .mabna_footer ul li a:hover {
  color: #00b24a;
}

footer .footer_body .contact_footer {
  display: flex;
  gap: 70px;
}

footer .footer_body .contact_footer .contact_us_footer h4 {
  font-size: 17px;
  color: #fff;
  margin-bottom: 25px;
}

footer .footer_body .contact_footer .contact_us_footer ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .footer_body .contact_footer .contact_us_footer ul .contact_us_footer_logo{
  display: flex;
  gap: 15px;
}

footer .footer_body .contact_footer .contact_us_footer ul li a {
  font-size: 13px;
  color: #fff;
  transition: all ease 0.3s;
  font-family: yekan tahoma;
  display: flex;
  gap: 5px;
}

footer .footer_body .contact_footer .contact_us_footer ul li a svg{
  margin-top: -3px;
}

footer .footer_body .contact_footer .contact_us_footer ul li a:hover {
  color: #00b24a;
}

footer .footer_body .contact_footer .simbol_footer h4{
  font-size: 17px;
  color: #fff;
  margin-bottom: 25px;
}

footer .footer_body .contact_footer .simbol_footer a{
  padding: 8px 10px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .foot_footer{
  width: 95%;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}

footer .foot_footer p{
  position: relative;
  box-sizing: border-box;
  padding-right: 30px;
}

footer .foot_footer p svg{
  position: absolute;
  right: 0px;
  bottom: 0px;
}

@media screen and (max-width:900px){
  footer .foot_footer{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

@media screen and (max-width:800px) {
  
  footer .footer_body {
    flex-direction: column;
    gap: 30px;
    padding-left: 30px;
    box-sizing: border-box;
  }
  
  footer .footer_body .lists_footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }

}

@media screen and (max-width:620px) {

  footer .footer_body .lists_footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 40px;
  }
  
  footer .footer_body .lists_footer .mabna_footer{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
  }
  
  footer .footer_body .contact_footer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  footer .footer_body .contact_footer .simbol_footer{
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  footer .footer_body .contact_footer .simbol_footer a{
    width: 60px;
  }

}

@media screen and (max-width:480px){

  footer .foot_footer p{
    font-size: 10px;
    padding-right: 23px;
  }

  footer .foot_footer svg{
    width: 20px;
  }

}
