.form_home {
  width: 100%;
}

.form_home .form_home_holder {
  width: 72%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.form_home .form_home_holder .get_counseling {
  width: 50%;
}

.form_home .form_home_holder .get_counseling h3 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.form_home .form_home_holder .get_counseling form {
  width: 100%;
}

.form_home .form_home_holder .get_counseling form .form_home_items {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 30px;
  position: relative;
  z-index: 4;
}

.form_home .form_home_holder .get_counseling form .form_home_items:hover {
  color: #00b753;
}

.form_home .form_home_holder .get_counseling form .form_home_items p {
  font-size: 16px;
  transition: all ease 0.3s;
}

.form_home .form_home_holder .get_counseling form .form_home_items textarea {
  width: 100%;
  padding:10px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #bcbcbc;
  border-radius: 8px;
  font-size: 14px;
  transition: all ease 0.3s;
  resize: none;
  position: relative;
  min-height: 150px;
}

.form_home .form_home_holder .get_counseling form .form_home_items textarea:hover {
  border: 1px solid #00b753;
}

.form_home .form_home_holder .get_counseling form .form_home_items textarea::placeholder {
  font-size: 14px;
  font-family: yekan;
  color: #bcbcbc;
  padding: 0;
  position: absolute;
  top: 3px;
  right: 13px;
}

.form_home .form_home_holder .get_counseling form .form_home_items span {
  font-size: 12px;
  color: #bcbcbc;
  position: absolute;
  left: 0;
  bottom: -20px;
}


.form_home .form_home_holder .get_counseling form .form_home_items input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #bcbcbc;
  border-radius: 8px;
  font-size: 16px;
  transition: all ease 0.3s;
}

.form_home .form_home_holder .get_counseling form .form_home_items input:hover {
  border: 1px solid #00b753;
}
/* .form_home .form_home_holder .get_counseling form .form_home_items input:hover + .form_home .form_home_holder .get_counseling form .form_home_items p{
  color: #00b24a;
} */

.form_home
  .form_home_holder
  .get_counseling
  form
  .form_home_items
  input::-webkit-input-placeholder {
  /* Edge */
  font-family: yekan;
  color: #bcbcbc;
  font-size: 14px;
}

.form_home
  .form_home_holder
  .get_counseling
  form
  .form_home_items
  input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: yekan;
  color: #bcbcbc;
  font-size: 14px;
}

.form_home
  .form_home_holder
  .get_counseling
  form
  .form_home_items
  input::placeholder {
  font-family: yekan;
  color: #bcbcbc;
  font-size: 14px;
}

.form_home
  .form_home_holder
  .get_counseling
  form
  .form_home_items
  .getnumber::-webkit-outer-spin-button,
.form_home
  .form_home_holder
  .get_counseling
  form
  .form_home_items
  .getnumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form_home
  .form_home_holder
  .get_counseling
  form
  .form_home_items
  .getnumber[type="number"] {
  -moz-appearance: textfield;
}

.form_home .form_home_holder .get_counseling form .form_home_items .form_home_items_drop_down {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  color: #bcbcbc;
  outline: none;
  border: 1px solid #bcbcbc;
  border-radius: 8px;
  transition: all ease 0.3s;
  position: relative;
  cursor: default;
}

.form_home .form_home_holder .get_counseling form .form_home_items .form_home_items_drop_down svg {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.form_home .form_home_holder .get_counseling form .form_home_items .form_home_items_drop_down span{
  font-size: 14px;
  position: absolute;
  right: 5px;
  top: 55%;
  transform: translateY(-50%);
}

.form_home .form_home_holder .get_counseling form .form_home_items .reservation_data{
  position: absolute;
  background-color: #bcbcbc;
  bottom: -35px;
}

.form_home .form_home_holder .get_counseling form .get_counseling_btn {
  width: 100%;
  display: flex;
  justify-content: end;
}

.form_home .form_home_holder .get_counseling form .get_counseling_btn button {
  padding: 6px 120px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-family: yekan;
  font-size: 14px;
  background-color: #bcbcbc;
  color: #fff;
}

.form_home .form_home_holder .get_counseling form .get_counseling_btn button:hover{
  cursor: no-drop;
}

.form_home .form_home_holder .form_home_img {
  width: 48%;
  background-image: url(../images/formImg.f5c74e98.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 45px 45px 0;
  margin-top: 10px;
}


@media screen and (max-width:1080px) {
  .form_home .form_home_holder {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}


@media screen and (max-width:900px) {
  .form_home .form_home_holder .get_counseling h3 {
    font-size: 22px;
  }
  .form_home .form_home_holder .get_counseling {
    width: 45%;
  }
  .form_home .form_home_holder .form_home_img {
    width: 53%;
  }
}


@media screen and (max-width:900px) {
  .form_home .form_home_holder .get_counseling {
    width: 100%;
    background-color: #00203b;
    padding: 20px 0;
  }

  .form_home .form_home_holder .get_counseling h3 {
    width: 90%;
    margin: 0 auto 10px;
    font-size: 24px;
    color: #fff;
    text-align: center;
  }

  .form_home .form_home_holder .get_counseling form {
    width: 95%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 0 20px;
  }

  .form_home .form_home_holder .get_counseling form .form_home_items {
    width: 90%;
    margin: 0 auto 20px;
  }

  .form_home .form_home_holder .get_counseling form .name_num{
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
  }

  .form_home .form_home_holder .get_counseling form .name_num .form_home_items{
    width: 48%;
  }

  .form_home .form_home_holder .get_counseling form .get_counseling_btn {
    width: 90%;
    margin: 0 auto;
  }

  .form_home .form_home_holder .form_home_img {
    display: none;
  }
}

@media screen and (max-width:550px){

  .form_home .form_home_holder .get_counseling h3 {
    font-size: 20px;
  }

  .form_home .form_home_holder .get_counseling form .name_num{
    display: block;
  }

  .form_home .form_home_holder .get_counseling form .name_num .form_home_items{
    width: 100%;
  }
}

@media screen and (max-width:400px){

  .form_home .form_home_holder .get_counseling form .get_counseling_btn button {
    padding: 6px 0;
    width: 100%;
  }

}
