
/*  --------------------- swiper public --------------------- */

.swiper-wrapper {
  transition-timing-function: linear;
}

.myswiper {
  text-align: center;
  width: 100%;
}

.myswiper .myswiper_slide{
  width: 100%;
  box-shadow: none;
}

.myswiper .myswiper_slide .swipholders_container_holder_card{
  width: 100%;
}

.myswiper .myswiper_slide .swipholders_container_holder_card img{
  width: 100%;
  object-fit: cover;
}

.thumb {
  width: 100%;
  margin: 30px auto 0;
  position: relative;
  /* text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.thumbswiper {
  /* text-align: center; */
  box-shadow: none;
}

.thumb .SwipHolders_name {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.thumb .SwipHolders_job {
  text-align: center;
  font-size: 22px;
}
.thumb .SwipHolders_talent {
  text-align: center;
  font-size: 16px;
  color: #787878;
}

.thumb .SwipHolders_license {
  text-align: center;
  font-size: 14px;
  color: #787878;
}
.thumb ul {
  width: fit-content;
  text-align: center;
  margin: 10px auto 0;
}

.thumb ul li {
  font-size: 14px;
}
.thumb ul img {
  width: 8px;
  margin-left: 5px;
}
.thumb button {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #40ad00;
  border-radius: 7px;
  background-color: #fff;
  cursor: pointer;
  z-index: 5;
  outline: none;
  transition: all ease 0.3s;
  position: absolute;
}

.thumb .thumb_btn_next {
  left: 20%;
  top: 50px;
}
.thumb .thumb_btn_prev {
  right: 20%;
  top: 50px;
}

.thumb .thumb_btn_next .next_icon {
  color: #40ad00;
}
.thumb .thumb_btn_prev .prev_icon {
  color: #40ad00;
}

.thumb .thumb_btn_next:hover {
  background-color: #40ad00;
}

.thumb .thumb_btn_next:hover .next_icon {
  color: #fff;
}

.thumb .thumb_btn_prev:hover {
  background-color: #40ad00;
}

.thumb .thumb_btn_prev:hover .prev_icon {
  color: #fff;
}




/*  ---------------------  bootstrap ------------------ */

.accordion{
  position: relative;
}

.accordion-button{
  position: absolute;
  left: 0;
}

/* @media screen and (max-width:770px){
  
  .myswiper .myswiper_slide .swipholders_container_holder_card{
    width: 160%;
  }
  
  .myswiper .myswiper_slide .swipholders_container_holder_card img{
    width: 100%;
    object-fit: cover;
  }
} */

/* @media screen and (max-width:990px){
  .myswiper {
    box-sizing: border-box;
    left: 3%;
  }
} */