.different{
  width: 100%;
}

.different h3{
  text-align: center;
  font-size: 33px;
  margin-bottom: 35px;
}

.different .different_holder_cards{
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.different .different_holder_cards .different_card_mabna{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23.5%;
  padding: 50px 0;
  box-sizing: border-box;
  border: 1px solid #bcbcbc;
  border-radius: 20px;
}

.different .different_holder_cards .different_card_mabna .card_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.different .different_holder_cards .different_card_mabna .card_info img{
  width: 105px;
}

.different .different_holder_cards .different_card_mabna .card_info strong{
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width:1100px) {

  .different .different_holder_cards{
    flex-wrap: wrap;
  }

  .different .different_holder_cards .different_card_mabna{
    width: 48%;
  }
}

@media screen and (max-width:655px) {
  .different h3{
    font-size: 26px;
  }

  .different .different_holder_cards{
    flex-direction: column;
  }

  .different .different_holder_cards .different_card_mabna{
    width: 100%;
  }
}