.products_homepage {
  width: 100%;
}

.products_homepage h3 {
  text-align: center;
  font-size: 32px;
}

.products_homepage p {
  text-align: center;
  font-size: 22px;
  margin: 5px 0 25px;
}

.products_homepage .products_list_button {
  width: 100%;
  margin: 0 0 40px;
}

.products_homepage .products_list_button ul {
  display: flex;
  width: 80%;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.products_homepage .products_list_button li {
  width: 180px;
  text-align: center;
  padding: 3px 0;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f6f6f6;
}

.products_homepage .products_cards {
  width: 99%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.products_homepage .products_cards .card {
  width: 31%;
  padding: 15px 15px 30px;
  box-sizing: border-box;
  border: 1px solid #bcbcbc;
  border-radius: 15px;
  color: #000;
}

.products_homepage .products_cards .card .imgbgc {
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #00203b;
}

.products_homepage .products_cards .card .img_holder {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #d0d0d0;
  background-color: #fff;
  border-radius: 20px;
  margin: -60px auto 0;
}

.products_homepage .products_cards .card .img_holder img {
  width: 60px;
}

.products_homepage .products_cards .card h4 {
  margin: 0 0 10px;
  font-size: 20px;
  text-align: center;
  padding: 0;
}

.products_homepage .products_cards .card p {
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

/* -----------------------responsive------------------- */

@media screen and (max-width: 770px) {
  .products_homepage h3 {
    text-align: center;
    font-size: 26px;
  }

  .products_homepage p {
    font-size: 20px;
    margin: 5px 0 20px;
  }

  .products_homepage .products_list_button ul {
    width: 95%;
    gap: 15px;
  }

  .products_homepage .products_list_button li {
    width: fit-content;
    padding: 3px 20px;
    font-size: 15px;
  }

  .products_homepage .products_cards {
    width: 95%;
    flex-direction: column;
  }

  .products_homepage .products_cards .card {
    width: 100%;
    height: fit-content;
    padding: 0;
    display: flex;
    gap: 25px;
    justify-content: start;
    align-items: center;
    padding: 25px;
  }

  .products_homepage .products_cards .card .imgbgc {
    display: none;
  }

  .products_homepage .products_cards .card .img_holder {
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: none;
    border-radius: none;
    margin: 0;
  }

  .products_homepage .products_cards .card h4 {
    margin: 0;
    font-size: 18px;
    text-align: right;
    font-weight: 300;
    padding: 0;
  }

  .products_homepage .products_cards .card p {
    font-size: 14px;
    text-align: right;
    margin: 0;
    padding: 0;
    font-weight: 300;
  }
}

@media screen and (max-width: 450px) {
  .products_homepage .products_list_button {
    width: 100%;
    margin: 0 0 40px;
    /* overflow-x: scroll; */
  }

  .products_homepage .products_list_button ul {
    justify-content: center;
    align-items: center;
    /* overflow-x: scroll; */
  }

  .products_homepage .products_list_button li{
    min-width: 180px;
    text-align: center;
    padding: 3px 0;
    border-radius: 5px;
    font-size: 15px;
  }
}
